# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/
.venv.bak/
env.bak/

# Flask specific
instance/
*.db
*.sqlite3

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# VSCode / PyCharm / IDE stuff
.vscode/
.idea/

# OS stuff
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.*

# Migrations (optional if using Flask-Migrate)
migrations/

# Cache
*.egg-info/
dist/
build/
Lib